/*公共部分 */
/*重置代码*/
@charset "UTF-8";
/*css reset*/
html{color:#000;background:#FFF;font-family:Microsoft YaHei,sans-serif,Arial,'宋体';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{
    padding:0;margin:0;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img{
    border:0;
}
a{
    text-decoration:none;
    outline:none;
}
var,em,i{
    font-style:normal;
}
address,caption,cite,code,dfn,em,th,var,optgroup{
    font-style:inherit;
    font-weight:inherit;
}
del,ins{
    text-decoration:none;
}
li{
    list-style:none;
}
caption,th{
    text-align:left;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:normal;
}
q:before,q:after{
    content:'';
}
abbr,acronym{
    border:0;
    font-variant:normal;
}
sup{
    vertical-align:baseline;
}
sub{
    vertical-align:baseline;
}
legend{
    color:#000;
}
input,button,textarea,select,optgroup,option{
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
}
input,button,textarea,select{
    *font-size:100%;
}
.clear{
    clear:both;
    height:0px;
    overflow:hidden;
}
.clearfix:after{
    clear:both;
    display: block;
    content: "...";
    visibility: hidden;
    height: 0;
    font-size: 0;
}
input[type="submit"],input[type="reset"],input[type="button"],button {
    -webkit-appearance: none;
    outline:none;
    cursor:pointer;
}
.clearfix{
    *zoom:1;
}
/*重置代码完*/


@media screen and (min-width:1000px){
    /*PC端*/
    .wrap{
        width:100%;
        height:100%;
    }
    .clear{
        clear:both;
    }
    .box{
        width:1000px;
        min-width:1000px;
        margin:0 auto;
    }
    /* 头部 start */
    .head{
        height:105px;
    }
    /* logo start */
    .logo{
        float:left;
        height:105px;
    }
    .logo span{
        font-size:32px;
        line-height:105px;
        font-weight:bold;
    }
    .logo span:nth-of-type(1){
        color:#54c244;
    }
    .logo span:nth-of-type(2){
        color:#ccc;
        padding-right:20px;
    }
    .logo span:nth-of-type(3){
        font-style: italic;
        color: rgb(84, 194, 68);
        font-size: 16px;
        border-left:2px solid rgb(84, 194, 68);
        padding-left:20px;
    }
    /* logo end */
    /* 报名 start */
    .tel{
        float:right;
        margin-top:36px;
        margin-left: 300px;
    }
    .phone{
        float:right;
        margin-left: 20px;

    }
    .phone p:nth-of-type(1){
        color:#989898;
        font-size: 14px;
        margin-top: 30px;
    }
    .phone p:nth-of-type(2){
        color:#54c244;
        font-size: 20px;
    }
    /* 报名 end */
    /* head  end */
    .nav{
        height: 50px;
        background: #4bb344;
    }
    .list{
        list-style: none;
    }
    .list li {
        float: left;
        line-height: 50px;
        width: 120px;
        color: white;
        text-align: center;
        margin-right: 50px;
        font-size: 16px;
    }
    .navColor{
        background-color: #fff;
        color:#4bb344 ;
    }
    .list li:hover{
        background-color: #fff;
        color:#4bb344 ;
    }

    /*导航 end*/

    /*lhx-app-footer*/
    .App-footer{
        width: 100%;
        height: 734px;
        overflow: hidden;
    }

.moveFooter{
    animation:moveFooter 2s;
    animation-fill-mode:forwards;
    animation-direction:alternate;
}

@keyframes moveFooter{
    from {
        transform:translateX(1200px);
    }
    to{
        transform:translateX(0px);

    }}
    .footerIn{
        width: 100%;
    }
    .footer{
        width: 1000px;
        height: 734px;
        margin: 0 auto;
    }
    .footer-left{
        width: 455px;
        height: 460px;
        float: left;
    }
    .footer-left>p{
        color: rgb(255, 255, 255);
        line-height: 30px;
        font-size: 12px;
        margin-top: 178px;
    }
    .footerContact{
        width:100%;
        height: 120px;
        margin-top: 106px;
    }
    .footerContact div{
        width: 340px;
        float: left;
        height: 100px;
    }
    .footerContact img{
        width: 79px;
        height: 100px;
        float: left;
    }
    .footerContact p{
        width: 340px;
        float: left;
        margin-bottom: 15px;
        font-size: 14px;
        margin-left: 21px;
        color: #e9fff7;
    }
    /*.footer-right*/
    .footer-right{
        width:392px ;
        height:293px;
        margin-left: 144px;
        margin-top: 174px;
        float: left;
    }
    .footer-right>p:nth-of-type(1){
        width:100%;
        margin-top: 7px;
        font-size: 12px;
        color: #ffffff;
    }
    .footer-right input{
        width: 100%;
        outline: none;
        height: 36px;
        text-indent: 5px;
        margin-top: 10px;
        border: none;
    }
    .footer-right>p:nth-of-type(2){
        width:100%;
        margin-top: 20px;
        font-size: 12px;
        color: #ffffff;
    }
    .footer-right textarea{
        width: 100%;
        height: 102px;
        resize: none;
        margin-top: 10px;
        border: none;
        outline: none;
    }
    .footer-right button{
        width: 153px;
        height: 44px;
        margin-top: 33px;
        /*margin-left: ;*/
        outline: none;
        border: none;
        background-color: #85c300;
        color: #ffffff;
        font-size: 12px;
    }
    .footer p{
        width: 100%;
        float: left;
        font-size: 12px;
        color: #b9b9b9;
    }
    .footer>p:nth-of-type(1){
        margin-top: 170px;
    }
    .footer>p:nth-of-type(2){
        margin-top: 11px;
    }
    .footerContact p:nth-of-type(4){
        text-align: left;
        font-size: 12px;
        color: #b9b9b9;
    }

    .moveFooter{
        animation:footer 2s;
        animation-fill-mode:forwards;
        animation-direction:alternate;
    }

    @keyframes footer{
        from {
            transform:translateX(1200px);
        }
        to{
            transform:translateX(0px);
        }
    }
    /*PC端完*/
    /*移动端*/

}





/*移动端*/
@media screen and (max-width:414px){
    /*PC端*/

    .wrap{
        display: none;
    }
    .phone{
        display: none;
    }
    /*移动端*/
    /*headerP  start*/
    .headerP{
        width: 100%;
        height:2.242424242424242rem;
        font-size: 0.9375rem;
        color: #fff;
        text-align: center;
        line-height: 2.242424242424242rem;
        background: #000000;
        background: -moz-linear-gradient(left,  #1dd35f 0%, #78db3b 100%);
        /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#ffffff));*/
        background: -webkit-linear-gradient(left,  #1dd35f 0%,#78db3b 100%);
        background: -o-linear-gradient(left,  #1dd35f 0%,#78db3b 100%);
        background: -ms-linear-gradient(left,  #1dd35f 0%,#78db3b 100%);
        background: linear-gradient(to right,  #1dd35f 0%,#78db3b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dd35f', endColorstr='#78db3b',GradientType=0 );

    }
    .headerP img{
        width: 1.25rem;
        height: 0.875rem;
        float: left;
        margin-top: 0.75rem;
        margin-left: 0.6875rem;
    }
    /*headerP  end*/
.phoneChangeCenter{
    width: 100%;
    margin-left: 0;
}
    /*slideP  start*/
    .slideP{
        width:9.87rem;
        height:100%;
        background:#282b37;
        position: absolute;
        left: -10rem;
    }
    .slideP li{
        width:6.12rem;
        padding-left: 3.75rem;
        line-height: 2.60rem;
        height: 2.60rem;
        color: white;
        font-size: 0.72rem;
        border-bottom: 1px solid #41434E;
        overflow: hidden;
        position: relative;
    }
    .slideP li:nth-last-of-type(1){
        border-bottom: none;
    }
    .slideP li:nth-of-type(1) img{
        position: absolute;
        left:1.87rem;
        top:0.84rem;
    }
    .slideP li:nth-of-type(2) img{
        position: absolute;
        left:1.93rem;
        top:0.78rem;
    }
    .slideP li:nth-of-type(3) img{
        position: absolute;
        left:2rem;
        top:0.78rem;
    }
    .slideP li:nth-of-type(4) img{
        position: absolute;
        left:1.87rem;
        top:0.84rem;
    }
    .slideP li:nth-of-type(5) img{
        position: absolute;
        left:2.06rem;
        top:0.8rem;
    }
    /*slideP  end*/
    /*footerP  start*/
    .footerTop{
        width: 100%;
        height:1.39rem;
        margin-top: 2.42rem;
        background: #000000;
        text-align: right;
        background: -moz-linear-gradient(left,  #1dd35f 0%, #78db3b 100%);
        /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#ffffff));*/
        background: -webkit-linear-gradient(left,  #1dd35f 0%,#78db3b 100%);
        background: -o-linear-gradient(left,  #1dd35f 0%,#78db3b 100%);
        background: -ms-linear-gradient(left,  #1dd35f 0%,#78db3b 100%);
        background: linear-gradient(to right,  #1dd35f 0%,#78db3b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dd35f', endColorstr='#78db3b',GradientType=0 );
    }
    .footerTop a{
        font-size: 0.72rem;
        color: #fff;
        line-height: 1.39rem;
        text-decoration: none;
    }
    .footerTop span{
        display: inline-block;
        width: 0rem;
        height: 0rem;
        border:0.18rem solid transparent;
        border-bottom-color:#fff;
        margin-right: 0.36rem;
        margin-left:0.24rem;
    }
    .footerP{
        width: 100%;
        height: 4rem;
        margin-top: 0.42rem;
    }
    .footerP p{
        text-align: center;
        font-size: 0.72rem;
        color: #666;
    }
    /*footerP  end*/
}

