
.wrapB{
    width: 100%;
    height: auto;
}
.conB{
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    background-color: red;
}
.bannerB{
    width: 100%;
    height: 450px;
}
.super-conB{
    width: 100%;
    height:2424px ;
    background-image: url("../img/bgB.jpg");
    background-size: 2024px 2924px;
    background-position: center top;
    background-repeat: no-repeat;
}
/*environment*/
.environment{
    width: 1000px;
    height: 845px;
    margin: 0 auto;
}
.environment h2{
    width: 100%;
    font-size: 25px;
    display: inline-block;
    color: #3a3a3a;
    margin-top: 132px;
    font-family: "微软雅黑";
    font-weight: bold;
}
.environment h3{
    width: 100%;
    font-size: 16px;
    color: rgb(146, 146, 146);
    margin-top: 9px;
    font-family: "微软雅黑";
}
.environment-left{
    width:508px;
    height: 440px;
    float: left;
}
.environment-left p{
    width: 100%;
    margin-top: 55px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
    font-family: "微软雅黑";
    color: rgb(146, 146, 146);
    line-height: 30px;
}
.environment-left p:nth-of-type(1){
    margin-top: 80px;
}
.environment>p{
    float: right;
    width: 436px;
    margin-left: 55px;
    margin-top: 82px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
    font-family: "微软雅黑";
    color: rgb(146, 146, 146);
    line-height: 30px;
}
/*picture*/
.picture{
    width: 1000px;
    height: 560px;
    margin:0 auto;
    margin-top: 68px;
}
.picture div{
    float: left;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}
.picture div:nth-of-type(1){
      width: 428px;
      height: 280px;
  }
.picture div:nth-of-type(2){
    width: 570px;
    height: 280px;
}
.picture div:nth-of-type(3){
    width: 265px;
    height: 278px;
}
.picture div:nth-of-type(4){
    width: 733px;
    height: 278px;
}
.picture div span{
    width: 100%;
    height: 5px;
    position: absolute;
    bottom:-5px;
    left: 0px;
    transition: 0.4s linear;
    background-color:rgba(10,10,10,0.7);
}
/*introduce*/
.introduce{
    width: 1000px;
    height: 950px;
    margin: 0 auto;
}
.introduce> img{
    width: 237px;
    height: 237px;
    margin-left: 390px;
    margin-top: 138px;
}
.introduce>h2{
    width: 100%;
    margin-top: 27px;
    font-size: 24px;
    font-family: "微软雅黑";
    line-height: 35px;
   color: rgb(84, 194, 68);
    text-align: center;
    cursor: move;
}
.introduce>h3{
    width: 100%;
    font-size:17px;
    font-family: "微软雅黑";
    line-height: 35px;
    color: #666666;
    text-align: center;
    cursor: move;
}
.introduce>h3:nth-of-type(1){
    margin-top: 5px;
}
.introduce>b{
    width: 31px;
    height: 1px;
    display:block;
    background-color: rgb(84, 194, 68);
    border-left-color: #cfcc44;
    border-right-color: #54c5b0;
    border-top-color:rgb(84, 194, 68);
    border-bottom-color: rgb(84, 194, 68);
    border:1px solid transparent;
    margin: 0 auto;
    margin-top: 32px;
}
.introduce p{
    width: 100%;
    text-align: center;
    color: rgb(118, 118, 118);
    font-size: 15px;
    font-family: "微软雅黑";
    cursor: move;
    line-height: 35px;
}
.introduce p:nth-of-type(1){
    margin-top: 32px;
}
.introduce button{
    height: 45px;
    width: 224px;
    color: #fff;
    text-overflow: ellipsis;
    cursor: pointer;
    font-size: 17px;
    font-family: 微软雅黑;
    background: #54c245;
    line-height: 45px;
    border: none;
    outline: none;
    margin-top: 78px;
    margin-left: 392px;
}