.wrapC{
    width: 100%;
    height: 3030px;
}
/*bannerC*/
.bannerC{
    width: 100%;
    height: 450px;
}
.super-class{
    width:100%;
    height: 1000px;
    background-image: url("../img/bgC.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center -130px;
}
.class{
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}
.class>p:nth-of-type(1){
    width: 100%;
    margin-top: 140px;
    color: rgb(84, 194, 68);
    font-size: 35px;
    line-height: 25px;
    font-family: "微软雅黑";
    cursor: move;
    text-align: center;
}
.class>p:nth-of-type(2){
    width: 100%;
    color: rgb(160, 160, 160);
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    font-family: "微软雅黑";
    cursor: move;
    margin-top: 7px;
}
.class>p:nth-of-type(3),p:nth-of-type(4){
    width: 100%;
    color: rgb(109, 109, 109);
    font-size: 15px;
    text-align: center;
    line-height: 21px;
    font-family: "微软雅黑";
    cursor: move;
}
.class>p:nth-of-type(3){
    margin-top: 32px;
}
/*myClass*/
.myClass{
    width: 1000px;
    height: 660px;
    margin-top: 120px;
}
.myClass>div{
    width: 440px;
    height: 235px;
    float: left;
    margin-right: 98px;
    margin-bottom: 120px;
}
.myClass>div:nth-of-type(2n){
    margin-right: 0px;
}
.myClass span{
    width:122px;
    height:122px;
    float: left;
}
.myClass div:nth-of-type(1) span{
    background-color: #01AFB8;
}
.myClass div:nth-of-type(2) span{
    background-color: #FED929;
}
.myClass div:nth-of-type(3) span{
    background-color: #EA585B;
}
.myClass div:nth-of-type(4) span{
    background-color: #FF8F3D;
}
.myClass span img{
    width:92px;
    height:92px;
    margin: 15px;
}
.myClassCon{
    width: 287px;
    height: 228px;
    float: left;
    margin-left: 28px;
}
.myClassCon h3{
    width: 100%;
    /*margin-top: 140px;*/
    color: #3e3e3e;
    font-size: 27px;
    font-weight: bold;
    /*line-height: 25px;*/
    font-family: "微软雅黑";
    cursor: move;
}
.myClassCon h4{
    color: #a0a0a0;
    font-size: 14px;
    font-family: "微软雅黑";
    cursor: move;
    margin-top: 7px;
}
.myClassCon p{
    width: 100%;
    color: #626262;
    font-size: 14px;
    font-family: "微软雅黑";
    cursor: move;
    margin-top: 23px;
    line-height: 29px;
}
/*.super-xhrGreen*/
.super-xhrGreen{
    width: 100%;
    height: 440px;
    background-color: #54c245;
}
.xhrGreen{
    width: 1000px;
    height: 440px;
    margin: 0 auto;
    position: relative;
}
.xhrGreen-right{
    width: 432px;
    height: 225px;
    float: right;
    margin-right: 4px;
    margin-top: 87px;
}
.xhrGreen-right p{
    width: 100%;
    font: inherit;
    word-wrap: break-word;
    word-break: break-all;
    color: rgb(255, 255, 255);
    font-family: "微软雅黑";
}
.xhrGreen-right p:nth-of-type(1){
    font-weight: bold;
    font-size: 26px;

}
.xhrGreen-right p:nth-of-type(2){
    margin-top: 42px;
    font-size: 15px;
 }
.xhrGreen-right p:nth-of-type(3){
    margin-top: 2px;
    font-size: 14px;
    line-height: 33px;
}
.xhrGreen-right a{
    width: 100%;
    display: inline-block;
    margin-top:27px;
    font-size: 23px;
    color: rgb(255, 255, 255);
}
.xhr{
    width:529px;
    height: 512px;
    position: absolute;
    top:69px;
    left:0px;
}
/*.super-picture{*/
    /*width: 100%;*/
    /*height: 992px;*/
    /*!*background-image: url("img/");*!*/
/*}*/
.pictureC{
    width: 1000px;
    height: 780px;
    margin: 0 auto;
    margin-top: 262px;
}
.pictureC-left{
    width: 697px;
    height: 517px;
    float: left;
}
.pictureC-left div:nth-of-type(1){
    width: 391px;
    height: 251px;
    float: left;
    margin-bottom: 15px;
    /*background-image: url("../img/pic-a.jpg");*/
    background-position: center center;
    background-size: 415px 251px;
    background-repeat: no-repeat;
    margin-right:15px;
    overflow: hidden;
}
.pictureC-left div:nth-of-type(1):hover{
    background-position: -19px center;
    transition: 0.2s;
}
.pictureC-left div:nth-of-type(2):hover{
    background-position: -19px center;
    transition: 0.2s;
}
.pictureC-left div:nth-of-type(3):hover{
    background-position: -19px center;
    transition: 0.2s;
}
.pictureC-left div:nth-of-type(4):hover{
    background-position: -19px center;
    transition: 0.2s;
}
.pictureC-right:hover{
    background-position: -19px center;
    transition: 0.2s;
}
.pictureC-left div:nth-of-type(2){
    width: 288px;
    height: 251px;
    float: left;
    margin-bottom: 15px;
    /*background-image: url("../img/pic-b.jpg");*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 306px 251px;
}
.pictureC-left div:nth-of-type(3){
    width: 249px;
    height: 253px;
    float: left;
    /*background-image: url("../img/pic-d.jpg");*/
    background-position: center center;
    background-size: 272px 253px;
    background-repeat: no-repeat;
    margin-right: 15px;
}
.pictureC-left div:nth-of-type(4){
    width: 433px;
    height: 251px;
    float: left;
    /*background-image: url("../img/pic-e.jpg");*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 453px 253px;
}

.pictureC-right{
    width: 293px;
    height: 517px;
    float: left;
    margin-left: 10px;
    /*background-image: url("../img/pic-c.jpg");*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 309px 517px;
}