/*重置代码*/
@charset "UTF-8";
/*css reset*/
html{color:#000;background:#FFF;font-family:Microsoft YaHei,sans-serif,Arial,'宋体';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{
    padding:0;margin:0;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img{
    border:0;
}
a{
    text-decoration:none;
    outline:none;
}
var,em,i{
    font-style:normal;
}
address,caption,cite,code,dfn,em,th,var,optgroup{
    font-style:inherit;
    font-weight:inherit;
}
del,ins{
    text-decoration:none;
}
li{
    list-style:none;
}
caption,th{
    text-align:left;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:normal;
}
q:before,q:after{
    content:'';
}
abbr,acronym{
    border:0;
    font-variant:normal;
}
sup{
    vertical-align:baseline;
}
sub{
    vertical-align:baseline;
}
legend{
    color:#000;
}
input,button,textarea,select,optgroup,option{
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
}
input,button,textarea,select{
    *font-size:100%;
}
.clear{
    clear:both;
    height:0px;
    overflow:hidden;
}
.clearfix:after{
    clear:both;
    display: block;
    content: "...";
    visibility: hidden;
    height: 0;
    font-size: 0;
}
input[type="submit"],input[type="reset"],input[type="button"],button {
    -webkit-appearance: none;
    outline:none;
    cursor:pointer;
}
.clearfix{
    *zoom:1;
}
/*重置代码完*/


/*PC端*/
@media screen and (min-width:1000px){
    /*pc*/

    .wrapC{
        width: 100%;
        height: 3030px;
    }
    /*bannerC*/
    .bannerC{
        width: 100%;
        height: 450px;
    }
    .super-class{
        width:100%;
        height: 1000px;
        background-image: url("../img/bgC.png");
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-position: center -120px;
    }
    /*class动画*/
    .Edu_moveClass{
        animation:Edu_moveClass 1.2s;
        animation-fill-mode:forwards;
        animation-direction:alternate;
    }

    @keyframes Edu_moveClass{
        from {
            transform:translateY(500px);
        }
        to{
            transform:translateY(0px);
        }
    }
    /*class动画完*/
    .class{
        width: 1000px;
        height: 1000px;
        margin: 0 auto;
    }
    .class>p:nth-of-type(1){
        width: 100%;
        margin-top: 140px;
        color: rgb(84, 194, 68);
        font-size: 35px;
        line-height: 25px;
        font-family: "微软雅黑";
        cursor: move;
        text-align: center;
    }
    .class>p:nth-of-type(2){
        width: 100%;
        color: rgb(160, 160, 160);
        font-size: 16px;
        text-align: center;
        line-height: 25px;
        font-family: "微软雅黑";
        cursor: move;
        margin-top: 7px;
    }
    .class>p:nth-of-type(3),p:nth-of-type(4){
        width: 100%;
        color: rgb(109, 109, 109);
        font-size: 15px;
        text-align: center;
        line-height: 21px;
        font-family: "微软雅黑";
        cursor: move;
    }
    .class>p:nth-of-type(3){
        margin-top: 32px;
    }
    /*myClass*/

    .myClass{
        width: 1000px;
        height: 660px;
        margin-top: 120px;
        overflow: hidden;
    }
    /*myclass动画*/
    .Edu_myClassBg{
        animation:Edu_myClassBg 1s;
        animation-fill-mode:forwards;
        animation-direction:alternate;
    }

    @keyframes Edu_myClassBg{
        from {
            transform:translateY(500px);
        }
        to{
            transform:translateY(0px);
        }
    }
    .Edu_myClassTxt{
        animation:Edu_myClassTxt 1.2s;
        animation-fill-mode:forwards;
        animation-direction:alternate;
    }

    @keyframes Edu_myClassTxt{
        from {
            transform:translateY(500px);
        }
        to{
            transform:translateY(0px);
        }
    }
    .Edu_myClassImg{
        animation:Edu_myClassImg 1.4s;
        animation-fill-mode:forwards;
        animation-direction:alternate;
    }

    @keyframes Edu_myClassImg{
        from {
            transform:translateY(500px);
        }
        to{
            transform:translateY(0px);
        }
    }
    /*myclass动画完*/
    .myClass>div{
        width: 440px;
        height: 235px;
        float: left;
        margin-right: 98px;
        margin-bottom: 120px;
    }
    .myClass>div:nth-of-type(2n){
        margin-right: 0px;
    }
    .myClass span{
        width:122px;
        height:122px;
        float: left;
    }
    .myClass div:nth-of-type(1) span{
        background-color: #01AFB8;
    }
    .myClass div:nth-of-type(2) span{
        background-color: #FED929;
    }
    .myClass div:nth-of-type(3) span{
        background-color: #EA585B;
    }
    .myClass div:nth-of-type(4) span{
        background-color: #FF8F3D;
    }
    .myClass span img{
        width:92px;
        height:92px;
        margin: 15px;
    }
    .myClassCon{
        width: 287px;
        height: 228px;
        float: left;
        margin-left: 28px;
    }
    .myClassCon h3{
        width: 100%;
        color: #3e3e3e;
        font-size: 27px;
        font-weight: bold;
        font-family: "微软雅黑";
        cursor: move;
    }
    .myClassCon h4{
        color: #a0a0a0;
        font-size: 14px;
        font-family: "微软雅黑";
        cursor: move;
        margin-top: 7px;
    }
    .myClassCon p{
        width: 100%;
        color: #626262;
        font-size: 14px;
        font-family: "微软雅黑";
        cursor: move;
        margin-top: 23px;
        line-height: 29px;
    }
    /*.super-xhrGreen*/
    .super-xhrGreen{
        width: 100%;
        height: 440px;
        background-color: #54c245;
    }
    .Edu_moveXhr{
        animation:Edu_moveXhr 1.1s;
        animation-fill-mode:forwards;
        animation-direction:alternate;
    }

    @keyframes Edu_moveXhr{
        from {
            transform:translateX(1500px);
        }
        to{
            transform:translateX(0px);
        }
    }
    .Edu_xhrGreenRight{
        animation:Edu_xhrGreenRight 1.4s;
        animation-fill-mode:forwards;
        animation-direction:alternate;
    }

    @keyframes Edu_xhrGreenRight{
        from {
            transform:translateX(1500px);
        }
        to{
            transform:translateX(0px);
        }
    }
    .xhrGreen{
        width: 1000px;
        height: 440px;
        margin: 0 auto;
        position: relative;
    }
    .xhrGreen-right{
        width: 432px;
        height: 225px;
        float: right;
        margin-right: 4px;
        margin-top: 87px;
    }
    .xhrGreen-right p{
        width: 100%;
        font: inherit;
        word-wrap: break-word;
        word-break: break-all;
        color: rgb(255, 255, 255);
        font-family: "微软雅黑";
    }
    .xhrGreen-right p:nth-of-type(1){
        font-weight: bold;
        font-size: 26px;

    }
    .xhrGreen-right p:nth-of-type(2){
        margin-top: 42px;
        font-size: 15px;
    }
    .xhrGreen-right p:nth-of-type(3){
        margin-top: 2px;
        font-size: 14px;
        line-height: 33px;
    }
    .xhrGreen-right a{
        width: 100%;
        display: inline-block;
        margin-top:27px;
        font-size: 23px;
        color: rgb(255, 255, 255);
    }
    .xhr{
        width:529px;
        height: 512px;
        position: absolute;
        top:69px;
        left:0px;
    }

    .pictureC{
        width: 1000px;
        height: 780px;
        margin: 0 auto;
        margin-top: 262px;
        overflow: hidden;
    }
    .Edu_pictureCLeft{
        animation:Edu_pictureCLeft 1.1s;
        animation-fill-mode:forwards;
        animation-direction:alternate;
    }
    .Edu_pictureCLeftA{
        animation:Edu_pictureCLeft 1.15s;
        animation-fill-mode:forwards;
        animation-direction:alternate;
    }
    .Edu_pictureCRight{
        animation:Edu_pictureCLeft 1.2s;
        animation-fill-mode:forwards;
        animation-direction:alternate;
    }
    @keyframes Edu_pictureCLeft{
        from {
            transform:translateX(1500px);
        }
        to{
            transform:translateX(0px);
        }
    }
    .pictureC-left{
        width: 697px;
        height: 517px;
        float: left;
    }
    .pictureC-left div{
        overflow: hidden;
    }
    .pictureC-left div img{
        width: 120%;
        height:100%;
        margin-left: -20px;
    }
    .pictureC-left div:nth-of-type(1){
        width: 391px;
        height: 251px;
        float: left;
        margin-bottom: 15px;
        margin-right:15px;
        overflow: hidden;
    }
    .pictureC-left div:nth-of-type(2){
        width: 288px;
        height: 251px;
        float: left;
        margin-bottom: 15px;
    }
    .pictureC-left div:nth-of-type(3){
        width: 249px;
        height: 253px;
        float: left;
        margin-right: 15px;
    }
    .pictureC-left div:nth-of-type(4){
        width: 433px;
        height: 251px;
        float: left;
    }

    .pictureC-right{
        width: 293px;
        height: 517px;
        float: left;
        margin-left: 10px;
        overflow: hidden;
    }
    .pictureC-right img{
        width: 320px;
        height:100%;
        margin-left: -20px;
    }
    /*pc完*/
    /*移动端*/
    .eduWrap{
        display: none;
    }
    /*移动端完*/
}
/*PC端完*/
/*移动端*/
@media screen and (max-width:414px){
    /*pc*/
    .wrapC{
        display: none;
    }
    /*pc完*/
    /*移动端*/
    /*公共部分*/
    *{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .eduWrap{
        width: 100%;
        height: auto;
    }
    /*classP  start*/
    .classP h2{
        text-indent:0.68rem;
        font-size: 0.78rem;
        height: 1.03rem;
        border-left: 0.18rem solid #2BC965;
        color: #2BC965;
        margin-top: 0.72rem;
    }
    .classP:nth-of-type(1) img:nth-of-type(1){
        width: 100%;
        height: 10.06rem;
        margin-top: 0.48rem;
    }
    .classP:nth-of-type(2) img:nth-of-type(1){
        width: 100%;
        height: 13.69rem;
        margin-top: 0.48rem;
    }
    .classP p{
        width: 14.5rem;
        margin-left: 0.88rem;
        font-family: 微软雅黑;
        font-size: 0.7rem;
        color: #626262;
        line-height: 1.2rem;
        padding-bottom: 0.72rem;
        margin-top: 0.84rem;
    }
    /*classP  end*/
    /*lineP  start*/
    .lineP{
        width: 100%;
        height: 0.48rem;
        background: #F5F5F5;
    }
    /*lineP  end*/
    /*移动端完*/
}
/*移动端完*/