
.wrapF{
    width: 100%;
}
.bannerF{
    width: 100%;
    height: 450px;
}
.super-myMain{
    width: 100%;
    height: 633px;
    background-image: url("../img/bgFF.jpg");
    background-size:100%;
}
.myMain{
	width:910px;
	height:633px;
	margin:0 auto;
}
.myMain h2{
	Width:100%;
	margin-bottom: 9px;
	word-break: break-all;
	border-collapse: separate;
	font-size: 14px;
	color: #666666;
	font-family: 微软雅黑;
	margin-top:7px;
}
.myMain h2:nth-of-type(1){
	margin-top:44px;
}
.myMain h2 span{
	font-weight:bold;
}
.myMain p{
	width:100%;
	height:34px;
	margin-bottom: 16px;
}
.myMain p input{
	width:848px;
    height: 34px;
    border-radius: 2px;
    text-indent: 6px;
    font-family: 微软雅黑;
    font-size: 12px;
    float: left;
    border: 1px solid #DADADA;
    background-color: white;
    cursor: auto;
    color: initial;
    font: 13.3333px Arial;
}
.myMain p span{
	float:left;
	line-height:34px;
	color:#FB824C;
	text-align:center;
	margin-left:22.7px;
}
.myMain p:nth-of-type(4){
	height: 102px;
	line-height: 102px;
}
.myMain p:nth-of-type(4) textarea{
	width:848px;
    height: 102px;
    resize:none;
    float:left;
    border: 1px solid #DADADA;
}
.myMain p:nth-of-type(4) span{
	line-height: 102px;
}


.myMain div{
	width:100%;
	height:34px;
	margin-bottom: 16px;
}
.myMain div input{
	width:131px;
    height: 34px;
    border-radius: 2px;
    text-indent: 6px;
    font-family: 微软雅黑;
    font-size: 12px;
    float: left;
    border: 1px solid #DADADA;
    background-color: white;
    cursor: auto;
    color: initial;
    font: 13.3333px Arial;
}
.myMain div span{
	float:left;
	line-height:34px;
	color:#FB824C;
	text-align:center;
	margin-left:22.7px;
}
.myMain div b{
	width:68.5px;
	height:24px;
	float:left;
	margin-left:15px;
	margin-top:5px;
	background-color: plum;
	text-align: center;
	line-height: 24px;
}
.myMain div p{
	width: auto;
	float:left;
	line-height:34px;
	font-size:14px;
	color: #666666;
	text-align:center;
	margin-left:10px;
}
.myMain button{
	width:241px;
	height:44px;
	max-width: 227px;
    width: 91%;
    font: 14px "微软雅黑";
    height: 44px;
    line-height: 44px;
    float: left;
    color: #fff;
    background-color: #85c300;
    border:none;
    margin-top:10px;
}


/*验证码*/
