.wrapE{
    height:100%;
}
.bannerE{
    width: 100%;
    height: 450px;
}
.bannerE img{
    width: 100%;
    height: 450px;
}
.teacher{
    height: 2341px;
    background-image: url("../img/bgE.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.teacher_div{
    height: 2341px;
    width: 1000px;
    margin: 0 auto;
}
.brand p:nth-of-type(1){
    width: 777px;
    color: #54c244;
    font-size:35px ;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    margin-left: 111.5px;
    padding-top: 164px;
}
.brand p:nth-of-type(2){
    width: 777px;
    font-size: 15px;
    line-height: 25px;
    color: #6d6d6d;
    text-align: center;
    margin-left: 111.5px;
}
.brand p:nth-of-type(3){
    font-size: 30px;
    line-height: 40px;
    color: #54c244;
    text-align: center;
}
/*leader start*/
.leader{
    width: 1000px;
}

.leader_one_l{
    width: 265px;
    height: 386px;
    border: 5px solid #58EBCD;
    float: left;
    margin-top: 100px;
}
.leader_one_l img,.leader_three_l img{
    margin-left: 26px;
    margin-top: 24px;
}
.leader_one_r,.leader_three_r{
    width: 565px;
    height: 400px;
    float: left;
    margin-left:158px;
}
.leader_one_r p:nth-of-type(1),.leader_two_l p:nth-of-type(1),.leader_three_r p:nth-of-type(1){
    font-size: 28px;
    color: #989898;
    line-height: 40px;
    margin-top: 170px;
}
.leader_one_r p:nth-of-type(2),.leader_two_l p:nth-of-type(2){
    color: #4b99c2;
    font-size: 20px;
    line-height: 40px;
}
.line{
    width: 550px;
    height: 1px;
    background: #E3E3E3;
    margin: 49px 0;
}
.leader_one_r p:nth-of-type(4),.leader_two_l p:nth-of-type(4),.leader_three_r p:nth-of-type(4){
    width: 583px;
    font-size: 14px;
    line-height: 30px;
    color: #6d6d6d;
}


.leader_two_l{
    width: 583px;
    height: 400px;
    float: left;
    margin-top: 173px;
}
.leader_two_l p:nth-of-type(1){
    margin-top:0;
    text-align: right;
}
.leader_two_l p:nth-of-type(2){
    color: #ff6537;
    text-align: right;
}
.leader_two_l p:nth-of-type(3){
    width: 583px;
}
.leader_two_r{
    width: 265px;
    height: 386px;
    border: 5px solid #58EBCD;
    margin-top: 55px;
    float: right;
}
.leader_two_r img{
    margin-left:-35px;
    margin-top: 23px;
}
.leader_three_l{
    width: 265px;
    height: 386px;
    border: 5px solid #5880EB;
    float: left;
    margin-top: 100px;
}
.leader_three_r p:nth-of-type(2){
    color: #afbd2a;
    font-size: 20px;
    line-height: 40px;
}


